:root{
	--c1: lightBlue;
	--c2: skyBlue;
	--c3: aliceBlue;
	--c4: burlyWood;
	--c5:#750009;
}

p, ol, ul
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
h1, h2, h3, h4, h5, h6
{
	text-align: center;
}
.center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
nav a
{
	padding: 5px 20px;
	margin: 0px 10px;
	text-decoration: none;
}
nav a:link
{
	background-color: var(--c5);
	border: 2px outset var(--c1);
}
nav a:visited
{
	background-color: var(--c2);
	border: 2px outset var(--c2);
}
nav a:hover
{
	background-color: var(--c3);
	border: 2px outset var(--c3);
}
nav a:active
{
	color: black;
	background-color: white;
	border: 2px inset var(--c5);
}
body
{
	background-color: beige;
}
h1, h2, h3, h4, h5, h6
{
	background-color: var(--c4);
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	border: 2px ridge var(--c4);
}
#video
{
	background-color: black;
	border: 2px inset lightGrey;

}

/*makers*/
.makers{
    flex-wrap:wrap;
    background:var(--c3);
}

/* Medium screens */
@media only screen and (min-width: 768px) { 
    .columns {
        display:flex;
    }

}



